.section {
  width: 100%;
  max-width: 132rem;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding-bottom: 10rem;
}

.sortContainer {
  display: flex;
  align-items: center;
  gap: 4rem;
  padding-left: 1rem;
}

.sortButton {
  font-family: inherit;
  font-size: 1.3rem;
  font-weight: 400;
  border: none;
  background: transparent;
  cursor: pointer;
  transition: all 0.15s ease;
}

.sortButton:hover {
  text-decoration: underline;
  text-decoration-color: var(--color-text);
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}

.sortButton.selected {
  text-decoration: underline;
  text-decoration-color: var(--color-text);
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}

.listContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 3rem;
  row-gap: 7rem;
  justify-items: center;
}
