.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.navigation {
  width: 100%;
  background-color: var(--color-background--brand);
}

.navWrapper {
  max-width: 132rem;
  margin: 0 auto;
  padding: 3rem 7rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 1.4rem;
  font-weight: 400;
  text-transform: uppercase;
}

.link {
  color: var(--color-text);
  text-decoration: none;
  transition: all 0.15s ease;
}

.link:hover,
.link.active {
  font-weight: 600;
  text-decoration: underline;
  text-decoration-color: var(--color-text);
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}
