.section {
  min-height: 90vh;
}

.container {
  width: 100%;
  max-width: 132rem;
  margin: 0 auto;
  padding: 2rem 0 8rem;

  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.heading {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.4rem;
  text-align: center;
}

.heading h2 {
  font-family: "Lora", serif;
  font-weight: 400;
  font-size: 3.2rem;
}

.benefitContainer {
  width: 100%;
  max-width: 64rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.benefit {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid var(--color-brand--main-circle1);
  padding-top: 3.6rem;
  padding-bottom: 2rem;
}

.boxTitle {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.icon {
  font-size: 1.6rem;
  color: var(--color-brand--main);
  cursor: pointer;
}

.title {
  font-family: "Lora", serif;
  font-size: 1.8rem;
  font-weight: 200;
  cursor: pointer;
}

.boxContent {
  padding-left: 4.5rem;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.25s ease, opacity 0.25s ease;
}

.content {
  font-size: 1.4rem;
  line-height: 1.7;
  padding-top: 1.6rem;
}

.open {
  max-height: 30rem;
  opacity: 1;
}
