.section {
  width: 100%;
  min-height: 100vh;
  border-top: 0.5rem solid var(--color-brand--main-circle1);
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 132rem;
  padding: 10rem 12rem;

  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.heading {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  text-align: center;
}

.heading h2 {
  font-family: "Lora", serif;
  font-weight: 300;
  font-size: 3.2rem;
}

.heading p {
  font-size: 1.5rem;
  font-weight: 300;
}

.faqContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;
}

.faq {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-bottom: 2px solid var(--color-brand--main-circle1);
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.boxQuestion {
  display: flex;
  align-items: center;
  gap: 3rem;
  cursor: pointer;
}

.icon {
  font-size: 1.6rem;
  color: var(--color-brand--main);
}

.question {
  font-size: 1.6rem;
  font-weight: 300;
}

.boxAnswer {
  padding-left: 5rem;
}

.answer {
  font-size: 1.4rem;
  line-height: 1.6;
}

.hidden {
  display: none;
}
