footer {
  width: 100%;
  background-color: var(--color-background--brand);
}

ul {
  list-style: none;
}

a:link,
a:visited {
  text-decoration: none;
}

.container {
  width: 100%;
  height: 100%;
  padding: 8rem 10rem;

  display: grid;
  grid-template-columns: 1.2fr 0.8fr 0.8fr 0.9fr;
  column-gap: 8rem;
  align-items: start;
}

.col {
  display: flex;
  flex-direction: column;
}

.colLogo {
  justify-self: start;
}

.col:not(.colLogo) {
  justify-self: center;
}

.colLogo img {
  width: 18rem;
  margin-bottom: 14rem;
}

.copyright {
  font-size: 1.4rem;
  padding-left: 2rem;
  margin-bottom: 2rem;
}

.terms {
  padding-left: 2rem;
  color: var(--color-text-light);
  display: flex;
  gap: 0.7rem;
  font-size: 1.2rem;
}

.term {
  color: var(--color-text-light);
}

.term:hover {
  text-decoration: underline var(--color-text-light);
}

.linkTitle {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 5rem;
}

.linkList,
.contacts {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  font-size: 1.4rem;
}

.linkList a:link,
.linkList a:visited {
  color: var(--color-text);
}

.contacts a:link,
.contacts a:visited {
  color: var(--color-text);
}
