.section {
  width: 100%;
  max-width: 132rem;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding-bottom: 10rem;
}

.sortContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  margin-left: auto;
  padding-right: 1rem;
}

.sortLabel {
  font-size: 1.4rem;
}

.sortOption {
  border: none;
  background-color: var(--color-background);
  font-size: 1.4rem;
  cursor: pointer;
}

.listContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 4rem;
  row-gap: 7rem;
  justify-items: center;
}

.listItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.8rem;
  cursor: pointer;
}

.imgContainer {
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  position: relative;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.8rem;
}

.title {
  font-family: "Lora", serif;
  font-weight: 300;
  font-size: 1.8rem;
}

.itemInfo {
  width: 25rem;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.9rem 1.1rem;
  font-size: 1.25rem;
  align-items: center;
}

.itemInfo dt {
  text-transform: uppercase;
  font-weight: 500;
  color: var(--color-text-light);
}

.itemInfo dd {
  justify-self: end;
  font-size: 1.4rem;
}

.bid {
  color: var(--color-price);
  font-weight: 600;
}

.listItem:hover .imgContainer {
  transform: scale(1.03);
}

.offerCount {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 3rem;
  height: 3rem;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: var(--color-brand--main);
  color: var(--color-text-white);
}

.itemLink {
  width: 100%;
  max-width: 29rem;
  text-decoration: none;
  color: inherit;
  display: block;
}

.loadContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadButton {
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: 600;
  border: none;
  border-radius: 3px;
  padding: 1rem 2rem;
  background-color: var(--color-brand--main);
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.loadButton:hover {
  background-color: var(--color-brand--main-darker);
}
