.nav {
  max-width: 100%;
  height: 8rem;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 10rem;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-left: 3rem;
  padding-right: 3rem;
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.05);
  background-color: #fff;
}

.nav ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15rem;
  list-style: none;
  font-size: 1.8rem;
}

.nav li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav li a:link,
.nav li a:visited {
  color: var(--color-text);
  text-decoration: none;
}

.nav li a:hover,
.iconCart:hover {
  color: var(--color-brand--main);
}

.iconCart {
  font-size: 2.4rem;
  cursor: pointer;
}
