.nav {
  max-width: 100%;
  height: 12rem;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 10rem;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-left: 4rem;
  padding-right: 4rem;
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.05);
  background-color: #fff;
  font-weight: 500;
}

.navLeft,
.navRight {
  margin: 0;
  padding: 0;
}

.navLeft {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: flex-end;
  justify-self: end;
  gap: 10rem;
  list-style: none;
  font-size: 1.8rem;
}

.navRight {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: flex-start;
  justify-self: start;
  gap: 10rem;
  list-style: none;
  font-size: 1.8rem;
}

nav li {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

nav li a:link,
nav li a:visited {
  color: var(--color-text);
  text-decoration: none;
}

.hotItems:link,
.hotItems:visited {
  color: var(--color-brand--main-lighter);
}

nav li a:hover,
.iconCart:hover,
.iconSearch:hover,
.hotItems:hover {
  color: var(--color-brand--main);
}

.currency {
  height: 3.2rem;
  line-height: 1;
  display: block;
  border: none;
  font-size: 1.6rem;
  font-family: inherit;
  font-weight: 500;
}

.navIconContainer {
  display: flex;
  gap: 2.4rem;
}

.iconCart {
  font-size: 2.4rem;
  cursor: pointer;
}

.iconSearch {
  font-size: 2.2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}
