.container {
  width: 100%;
  max-width: 132rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding: 3rem 7rem;
}

.heading {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  text-align: center;
}

.heading h2 {
  font-family: "Lora", serif;
  font-weight: 400;
  font-size: 3.2rem;
}

.missionContainer {
  width: 100%;
  max-width: 84rem;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
}

.mission {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.6;
  text-align: center;
}

.mission strong {
  font-weight: 500;
}
