:root {
  --color-brand--main: #c9a24d;
  --color-brand--main-darker: #b8923f;
  --color-brand--main-lighter: #ebc04b;
  --color-brand--main-circle1: #f2e6c9;
  --color-brand--main-circle2: #e6d29a;

  --color-text: #1f2933;
  --color-text-light: #898989;
  --color-text-white: #f9fafb;
  --color-background: #f9fafb;
  /* --color-background--brand: #faf7f0; */
  --color-background--brand: #f6f2e8;

  --color-price: #1c7ed6;
  --color-price-sell: #1971c2;
  --color-price-bid: #e03131;
  --color-wishlist: #f03e3e;
  --color-error: #f03e3e;
  --color-confirm: #087f5b;

  /* --color-14kgold: #ffd43b;
  --color-18kgold: #fcc419;
  --color-gemstone: #ff8787; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Figtree", "Inter", sans-serif;
  background-color: var(--color-background);
  height: 100vh;
}
